<app-header></app-header>
<body style="background-color:black;">
  <div>
    <form action="#">
      <app-searchbar-find-store-by-store-category-description></app-searchbar-find-store-by-store-category-description>
    </form>
  </div>
  <div *ngIf="get">
      <ul>
        <li *ngFor="let response_data of response.data">
          <div class="card">
          <a [routerLink]="['/stores', response_data.key]">
          <div *ngIf="response_data.secondValue!='empty'"><img [src]="response_data.secondValue" width="300px"></div>
          </a>
          <div class="container">
            <h4 ><b>{{response_data.firstValue}}</b></h4>
          </div>
          </div>
              </li>
      </ul>
  </div>
</body>

