<app-header></app-header>
<body style="background-color:rgb(214, 209, 215);">
  <h2>Top stores</h2>
  <div *ngIf="get">
    <ul>
      <li *ngFor="let top_stores of response.data">
        <div class="card">
          <a [routerLink]="['/stores', top_stores.key]">
            <div *ngIf="top_stores.secondValue!=null"><img [src]="top_stores.secondValue" width="300px"></div>
          </a>
          <div class="container">
            <h4><b>{{top_stores.firstValue}}</b></h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
