<app-header></app-header>
<div class="empty" *ngIf="response.data == ''">
  <h4>There are no stores in this category</h4>
  <a routerLink="/storecategories" >Show all categories</a>
</div>

<ng-container *ngIf="response.data != 'empty'">
<div *ngIf="get">
    <ul >
      <li *ngFor="let store of response.data">
        <div class="card">
        <a [routerLink]="['/stores', store.key]">
        <p *ngIf="store.secondValue!='empty'"><img [src]="store.secondValue" width="300px"></p>
      </a>
      <div class="container">
        <h4 ><b>{{ store.firstValue }}</b></h4>
       </div>
       </div>
      </li>
    </ul>
</div>
</ng-container>

