<app-header></app-header>

<img [src]="response.data.image" width="200px">
<p>{{ response.data.name}}</p>
<p>{{ response.data.address}}</p>

<div *ngIf="get">
  <nav>
    <ul *ngFor="let store_product of response.data.storeProducts">
      <li>{{store_product.name}}
        <span> {{ store_product.price | currency:'€'}}</span>
        <p *ngIf="store_product.details!='empty'">{{store_product.details}}</p>
        <!-- <p *ngIf="store_product.image!='empty'"><img [src]="store_product.image" width="200px"></p> -->
        <button type="button" (click)="addToBasket(store_product,id)">Add</button>
      </li>
    </ul>
  </nav>
</div>

