<app-header></app-header>
<div class="empty" *ngIf="response.data == null">
  <h4>No store found</h4>
  <a routerLink="/" >Show all stores</a>
</div>

<ng-container *ngIf="response.data != null">

<div class="store">
  <div *ngIf="response.data.image!=null"><img [src]="response.data.image" width="400px"></div>
  <div class="container">
<h4><b>{{ response.data.name}}</b>
<p>{{ response.data.address}}</p></h4>
</div>
</div>

<div *ngIf="get">
    <ul>
      <li *ngFor="let store_product of response.data.storeProducts">
        <div class="card">
        <div *ngIf="store_product.image!=null"><img [src]="store_product.image" width="300px"></div>
        <div class="container">
          <h4 ><b>{{store_product.name}}
            <p *ngIf="store_product.details!=null">{{store_product.details}}</p>
          </b></h4>
          <span> {{ store_product.price}} €</span>
          <h4><button class="button" type="button" (click)="addToBasket(store_product,id)">Add</button>
          </h4>
        </div>
        </div>
      </li>
    </ul>
</div>
</ng-container>

