.orders {
    border: 1px solid #ff3d00;
    border-radius: 13px; 
    border-spacing: 0;
    border: 0px solid #000000;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
  }
.orders th{
    padding:15px;
    border: 1px solid #ff3d00;
    color: #ff3d00;
    text-shadow:1px 1px 1px black;
    border-bottom:3px solid  black;
    background-color: black;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02,  #000000 ),
        color-stop(0.51,  #000000 ),
        color-stop(0.87,  #000000 )
        );
    background: -moz-linear-gradient(
        center bottom,
        #000000 3%,
        #000000 52%,
        #000000 88%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
.orders td{
    width:100px;
    padding:10px;
    text-align:center;
    vertical-align: top;
    background-color: #ff3d00 ;
    border: 1px solid #000000;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#000000;
    text-shadow:1px 1px 1px #000000;
  }
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  color: #ff3d00;
}