<app-header></app-header>
<body style="background-color:black;">
  <h2>Find most popular stores per category</h2>
  <div *ngIf="get">
      <ul >
        <li *ngFor="let response_data of response.data">
          <div class="card">
          <a [routerLink]="['/stores/reportTopStoresPerCategory', response_data.id]">
          <p *ngIf="response_data.image!=null"><img [src]="response_data.image" width="300px"></p>
          </a>
          <div class="container">
            <h4 ><b>{{ response_data.description }}</b></h4>
          </div>
          </div>
        </li>
      </ul>
  </div>
</body>



