<app-header></app-header>

<div class="empty" *ngIf="basketItems.length < 1">
    <h4>You don't have any items in your cart.</h4>
    <a routerLink="/" >Show all stores</a>
</div>

<div class="container">
  <ng-container *ngIf="basketItems.length > 0">

    <ul>
      <li class="cart" *ngFor="let item of basketItems">
        <div *ngIf="item.storeProduct.image!='empty'"><img [src]="item.storeProduct.image" width="300px"></div>
        {{item.storeProduct.name}}
        <div>
          {{ item.orderPrice }} €
        </div>
        <div> Quantity = {{ item.quantity }}</div>
      </li>
    </ul>
    <div class="checkout" >
      <div class="total-price">
        {{totalCost()}} €
      </div>
      <p>
        <button class="delete-order" (click)="deleteOrder()">Empty Basket</button>
      </p>
      <div>
        <button class="button-checkout" (click)="postOrder()">Check Out</button>
      </div>
    </div>
</ng-container>
</div>
