<app-header></app-header>

<div class="empty" *ngIf="basketItems.length < 1">
    <h4>You don't have any items in your cart.</h4>
    <a routerLink="/" >Home</a>
</div>

<ng-container *ngIf="basketItems.length > 0">

  <div class="cart" *ngFor="let item of basketItems; let i = index" [attr.data-index]="i">
    <div class = "name">
      {{item.storeProduct.name}}
    </div>
    <div class="price">
      {{ item.orderPrice | currency:'€'}}
    </div>
    <div> Quantity = {{ item.quantity }}</div>
  </div>
  <div>
    <button (click)="postOrder()">Check Out</button>
  </div>
</ng-container>
