<app-header></app-header>

<div class="empty" *ngIf="basketItems.length < 1">
    <h4>You don't have any items in your cart.</h4>
    <a routerLink="/" >Show all stores</a>
</div>

<div class="container">
  <ng-container *ngIf="basketItems.length > 0">

    <ul>
      <li class="cart" *ngFor="let item of basketItems">
        <div *ngIf="item.storeProduct.image!='empty'"><img [src]="item.storeProduct.image" width="300px"></div>
        {{item.storeProduct.name}}
        <div>
          {{ item.orderPrice | currency:'€'}}
        </div>
        <div> Quantity = {{ item.quantity }}</div>
      </li>
    </ul>
    <div class="checkout" >
      <div class="total-price">
        {{totalCost()| currency:'€'}}
      </div>
      <p>
        <button class="delete-order" (click)="deleteOrder()">Empty Basket</button>
      </p>
      <div>
        <button class="button-checkout" (click)="postOrder()">Check Out</button>
      </div>
    </div>


  <!-- <div class="cart" *ngFor="let item of basketItems">
    <div class = "name">
      {{item.storeProduct.name}}
    </div>
    <div class="price">
      {{ item.orderPrice | currency:'€'}}
    </div>
    <div> Quantity = {{ item.quantity }}</div>
  </div>
  <div>
    <button (click)="postOrder()">Check Out</button>
  </div>
  <div>
    <button (click)="deleteOrder()">Empty Basket</button>
  </div> -->
</ng-container>
</div>
